#email-a-friend //div
{
	padding: rem-calc(50) rem-calc(100);
	padding-top: rem-calc(80);
	//margin-bottom: rem-calc(64);

	$button-padding: 4;

	#email-label
	{
		color: $dark-grey;
		text-align: left;
	}

	#email //input
	{
		box-shadow: none;
		border: 0;
		border-bottom: 1px solid $greyed-out-text;
	}
	
	#send-email-button
	{
		border: 1px solid $current-step-icon-color;
		border-radius: 200px;
		background-color: $white;
		color: $current-step-icon-color;
		font-weight: bold;
		padding: rem-calc($button-padding) rem-calc(40);
		float: $global-right;
		margin: rem-calc(55) 40%;

		&:hover
		{
			background-color: $current-step-icon-color;
			color: $white;
		}
	}
}