#form-section {
  //margin: rem-calc(50) 0;
  //margin-bottom: rem-calc(92);
  height: 430px;
  padding: 0px rem-calc(20);
  padding-top: rem-calc(20);

  label {
    color: $default-text-color;
    margin-top: rem-calc(25);
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  input[type="date"],
  select {
    border: 0;
    border-bottom: 1px solid $greyed-out-text;
    box-shadow: none;
    color: $greyed-out-text;
  }
}

span.is-danger{
  color: $red;
}

input[readonly] {
  cursor: pointer;
}