.location-viewer
{
	padding: rem-calc(20) rem-calc(20);
	margin: 0px;
	overflow-y: auto;
	//width: 99%;
	position: absolute;
	left: 0px;
	right: 35%;

	.large-12
	{
		padding: 0px;
	}

	.location-list
	{
		padding: rem-calc(10) rem-calc(60);
		//padding-left: rem-calc(20);
		margin: rem-calc(20) rem-calc(10);
		margin-top: 0px;
		margin-right: 40px;
		overflow-y: auto;
		overflow-x: hidden;
		height: 391px;

		.large-2
		{
			padding: 0px;
		}
	}

	.location-item
	{
		margin: rem-calc(10) rem-calc(0);
		padding: rem-calc(20) rem-calc(25);

		//margin-top: 0px;
		//padding-top: 0px;

		&:hover
		{
			box-shadow: 0px 0px 50px -5px rgba($black, 0.1);
		}
	}
	
	.location-title,
	.location-brief-desc
	{
		display: block;
		font-size: rem-calc(14);
	}

	.location-title
	{
		font-weight: bold;
		margin-top: rem-calc(10);
	}

	.location-brief-desc
	{
		margin-bottom: rem-calc(10);
	}

	.location-full-desc
	{
		font-size: rem-calc(12);
		color: $greyed-out-text;
		line-height: 150%;
	}
}
