.footer
{
	$button-padding: 6;
	margin: rem-calc(10) auto;
	margin-left: rem-calc(0);
	text-align: center;
	padding: auto rem-calc(20);
	padding-right: rem-calc(15);

	.left,
	.middle,
	.right 
	{
		display: inline-block;
		margin: auto;
	}

	.left
	{
		width: 25%;
		float: left;
	}

	.middle
	{
		width: 50%;
	}

	.right 
	{
		width: 25%;
		float: right;
		text-align: right;
	}

	#step-tracker
	{
		text-align: center;
		line-height: rem-calc(10);
		//margin: auto rem-calc(10);
		padding: 0px;

		.step-tracker-list-item-inactive, 
		.step-tracker-list-item-active,
		.step-tracker-list-item-completed
		{
			$icon-size: rem-calc(12);
			$spacing: rem-calc(15);

			display: inline-block;
			list-style: none;
			border: 2px solid $white;
			border-radius: 200px;
			width: $icon-size;
			height: $icon-size;
			color: transparent;
			margin-right: $spacing;
			background-color: $greyed-out-text;
		}

		.step-tracker-list-item-active
		{
			//border-width: 2px;
			background-color: $white;
			border-color: $current-step-icon-color;
		}

		.step-tracker-list-item-completed
		{
			background-color: $current-step-icon-color;
		}
	}

	p 
	{
		text-align: center;
	}

	.button-next, .button-back
	{
		border: 1px solid $current-step-icon-color;
		border-radius: 200px;
		background-color: $white;
		color: $current-step-icon-color;
		font-weight: bold;
		padding: rem-calc($button-padding) rem-calc(40);
		//float: $global-right;
		margin: rem-calc(10) rem-calc(40);
		margin-bottom: rem-calc(40);

		&:hover
		{
			background-color: $current-step-icon-color;
			color: $white;
		}
	}


	.button-back
	{
		border-color: $greyed-out-text;
		color: $greyed-out-text;
		font-weight: normal;
		//float: $global-left;
		margin-left: 0px;
	
		&:hover
		{
			background-color: $greyed-out-text;
		}
	}

	.button-next
	{
	}
}