@include scrollbars(6px, $current-step-icon-color, $white);

.scroll
{
	margin-top: rem-calc(30);
	padding: rem-calc(10) rem-calc(0);
	overflow-y: auto;
	
	$scroll-height: 370;
	max-height: rem-calc($scroll-height);
	height: rem-calc($scroll-height);

	.large-1
	{
		padding-left: 0px;
		padding-right: 0px;
	}

	label
	{
		width: 90%;
	}

	.large-11
	{
		padding-top: rem-calc(3);
	}
}
	
#package-list
{
	margin: auto rem-calc(30);
	padding-right: rem-calc(50);

	.package-item
	{
		margin: rem-calc(10) rem-calc(30);
		margin-left: 0px;
		margin-right: 0px;
		color: $dark-grey;
		
		.package-select-button
		{
			margin: rem-calc(10) rem-calc(0);
			display: inline-block;
			-webkit-appearance: none;
			border: 2px solid $greyed-out-text;
			background-color: $white;
			padding: rem-calc(15);
			box-shadow: none;
			position: relative;
			content: "\f000";

			&:checked:before 
			{
				content: " "; // the circle itself is empty
			  	display: block;
			  	//border: solid 0.8em #660a5e; // create a colored area...
			  	//border-radius: .8em; // ... and turn it into a circle
			  	height: 0;
			  	width: 0;
			  	position: absolute; // the circle is then put into place
			  	top: rem-calc(4);
				left: rem-calc(7);
			  	margin-top: -0.5em;
			}

			&:checked:after
			{
				content: " ";
			  	display: block;
			    width: rem-calc(10); // the short bar of the mark is half as long as the long bar
			    height: rem-calc(20);
			    border: solid $current-step-icon-color;
			    border-width: 0 0.2em 0.2em 0; // creates the inverted "L" shape
			    position: absolute;
			    top: rem-calc(5);
				left: rem-calc(10);
			    margin-top: -0.2em;
			    -webkit-transform: rotate(45deg); // tilts the shape
			    -moz-transform: rotate(45deg);
			    -o-transform: rotate(45deg);
			    transform: rotate(45deg);
			}

			&:focus
			{
				outline: none;
			}
		}

		.package-select-button:checked
		{
			border-color: $current-step-icon-color;
		}

		.package-title,
		{
			font-weight: bolder;
			font-size: rem-calc(15);
			display: block;
			margin: rem-calc(8) rem-calc(0);
			margin-bottom: 0px;
		}

		.package-details
		{
			color: $greyed-out-text;
			font-size: rem-calc(13);
			height: rem-calc(16);
			//line-height: rem-calc(20);
		}

		.package-desc
		{
			display: inline-block;
			line-height: 130%;
		}
	}
}


#additions-list // div
{	
	margin: rem-calc(10) rem-calc(30);
	padding-right: rem-calc(50);


	
	#menu-additions // ul
	{
		list-style: none;
		margin: rem-calc(20) rem-calc(10);

		.checkbox-list-item
		{
			margin: rem-calc(10) rem-calc(10);

			.additions-checkbox
			{
				display: inline-block;
				-webkit-appearance: none;
				border: 2px solid $greyed-out-text;
				background-color: $white;
				padding: rem-calc(15);
				box-shadow: none;
				position: relative;

				&:checked:before 
				{
					content: " "; // the circle itself is empty
			  		display: block;
			  		//border: solid 0.8em #660a5e; // create a colored area...
			  		//border-radius: .8em; // ... and turn it into a circle
			  		height: 0;
			  		width: 0;
			  		position: absolute; // the circle is then put into place
			  		top: rem-calc(4);
					left: rem-calc(7);
			  		margin-top: -0.5em;
				}

				&:checked:after
				{
					content: " ";
			  		display: block;
			    	width: rem-calc(10); // the short bar of the mark is half as long as the long bar
			    	height: rem-calc(20);
			    	border: solid $current-step-icon-color;
			    	border-width: 0 0.2em 0.2em 0; // creates the inverted "L" shape
			    	position: absolute;
			    	top: rem-calc(5);
					left: rem-calc(10);
			    	margin-top: -0.2em;
			    	-webkit-transform: rotate(45deg); // tilts the shape
			    	-moz-transform: rotate(45deg);
			    	-o-transform: rotate(45deg);
			    	transform: rotate(45deg);
				}

				&:focus
				{
					outline: none;
				}
			}

			.additions-checkbox:checked
			{
				border-color: $current-step-icon-color;
			}

			.addition-description
			{
				font-size: rem-calc(15);
			}

			.addition-price
			{
				font-weight: bolder;
				margin-left: rem-calc(5);
			}
		}

	}
}

#package-list,
#additions-list
{
	margin: rem-calc(10) rem-calc(40) rem-calc(59) rem-calc(20);
	padding: rem-calc(30) rem-calc(20);
	padding-top: rem-calc(10);
	padding-left: 0px;
}

.scroll::webkit-scrollbar {
		background-color: red;
		width: 100px;
}

.scroll::webkit-scrollbar-thumb {
	background-color: red;
}