$body-font-family: 'WorkSans-Regular';

@font-face {
 	font-family: 'WorkSans-Regular';
  	src: 	url('../fonts/WorkSans-Regular.eot?#iefix') format('embedded-opentype'),  
  			url('../fonts/WorkSans-Regular.woff') format('woff'), 
  			url('../fonts/WorkSans-Regular.ttf')  format('truetype'), 
  			url('../fonts/WorkSans-Regular.svg#WorkSans-Regular') format('svg');
  	font-weight: normal;
  	font-style: normal;
}


@for $headers from 1 through 6
{
	body h#{$headers}
	{
		font-family: $body-font-family;
	}
}


