$body-font-family: 'WorkSans-Regular';

body
{
	background: lighten($black, 90);

	.large-8
	{
		padding-left: rem-calc(50);
	}

	header
	{
		#site-title
		{
			padding-left: 0px;

			h1
			{
				font-size: rem-calc(25);
				margin: rem-calc(100) 0 rem-calc(40) 0;
				color: $dark-grey;
			}
		}

	}

	form
	{
		height: 450px;
		padding: auto rem-calc(10);
	}

	#main__content
	{
		color: $default-text-color;
		height: 100%;

		#logo
		{
			display: block;
			margin: rem-calc(40) auto;
		}

		.step-desc
		{
			color: $greyed-out-text;
			font-size: rem-calc(15);
			text-align: center;
			padding: rem-calc(10) rem-calc(25);
			margin: rem-calc(10) rem-calc(10);
			margin-top: rem-calc(10);
			height: 80px;
		}

		h1
		{
			font-size: rem-calc(40);
		}

		h2
		{
			text-align: center;
			font-size: rem-calc(25);
		}

		h3
		{
			font-size: rem-calc(20);
		}

		.sub-title
		{
			text-align: center;
			font-size: rem-calc(15);
			margin-bottom: rem-calc(0);
		}

		.container
		{
			//width: 50%;
			width: 75rem;
			//height: rem-calc(660);
			margin: auto;
			background: $white;
			box-shadow: 5px 5px 50px 10px rgba($default-text-color	, 0.1);
			padding: none;

			#main-row
			{
				margin-right: 0px;
				max-height: 800px;
				height: 800px;
				position: relative;
			}
		}

	}
}


