#quote-summary
{
	$border: 1px $greyed-out-text solid;
	$padding-default: rem-calc(25) rem-calc(0);
	$margin-default: rem-calc(0) rem-calc(10);
	$step-icon-border-size: 20;

	color: $default-text-color;
	box-shadow: 1px 1px 50px -1px rgba($black, 0.1);
	position: relative;

	.current-step,
	#remaining-steps,
	.completed-steps,
	#quote-total
	{
		padding: $padding-default;
		padding-left: rem-calc(15);
		border-top: $border;
		margin: $margin-default;
	}

	#title
	{
		margin: $margin-default;
		padding: $padding-default;
		font-size: rem-calc(25);
	}

	.current-step
	{
		//padding-bottom: rem-calc(15);
		padding: rem-calc(15) 0 0 0;

		h3
		{
			display: inline-block;
			font-size: rem-calc(15);
		}

		.current-step-icon,
		.completed-step-icon
		{
			$current-step-increase: 5;
			$current-icon-border: 2px solid $current-step-icon-color;

			display: inline-block;
			margin-bottom: rem-calc(15);
			margin-right: rem-calc(15);
			width: rem-calc($step-icon-border-size + $current-step-increase);
			height: rem-calc($step-icon-border-size + $current-step-increase);
			line-height: rem-calc($step-icon-border-size + ($current-step-increase / 2) );
			border: $current-icon-border;
			border-radius: 50%;
			text-align: center;
			font-size: rem-calc(11);
			font-weight: bolder;
			color: $current-step-icon-color;
		}

		.completed-step-icon
		{
			font-size: rem-calc(12);
		}

		ul
		{
			margin: auto;

			li
			{
				list-style-type: none;
				margin: rem-calc(10) auto;

				.info-labels
				{
					color: $greyed-out-text;
					display: inline-block;
					float: left;
					width: rem-calc(60);
					font-size: rem-calc(13);
					padding-top: rem-calc(1);
				}

				.info-text
				{
					display: inline-block;
					font-size: rem-calc(15);
				}
			}
		}
	}



	#remaining-steps
	{
		padding-bottom: rem-calc(100);

		ul
		{
			margin: auto;

			li
			{
				list-style-type: none;

				span
				{
					color: $greyed-out-text;
				}

				.step-icons
				{
					$step-icon-size-increase: 5;

					display: inline-block;
					margin-bottom: rem-calc(15);
					margin-right: rem-calc(25);
					width: rem-calc($step-icon-border-size + $step-icon-size-increase);
					height: rem-calc($step-icon-border-size + $step-icon-size-increase);
					line-height: rem-calc($step-icon-border-size + ($step-icon-size-increase / 2));
					border: $border;
					border-radius: 50%;
					text-align: center;
					font-size: rem-calc(10);
				}
			}
		}
	}

	#quote-total
	{
		margin: $margin-default;
		padding: $padding-default;
		padding-bottom: rem-calc(15);
		position: absolute;
		bottom: 0;
		max-width: 340px;


		#total-text
		{
			display: inline;
			font-size: rem-calc(15);
		}

		#total-sum
		{
			display: inline;
			font-size: rem-calc(20);
			font-weight: bold;
			padding-left: rem-calc(60);
			text-align: right;
			line-height: rem-calc(5);
		}

		.final-sum
		{
			color: $current-step-icon-color;
		}

		#footer-text
		{
			margin-top: rem-calc(10);
			font-size: rem-calc(12);
			color: $greyed-out-text;
			padding-left: rem-calc(15);
		}
	}
}
